@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:
    radial-gradient(circle at top, rgba(59,130,246,0.15), transparent 40%),
    linear-gradient(to bottom, #020617, #0f172a);

  min-height: 100vh;

  color: white;

  font-family: Inter, sans-serif;

}

html {
  scroll-behavior: smooth;
}